@model IEnumerable<Pepper.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<p> @Html.ActionLink("New Customer", "New","Customers", null, new { @class = "btn btn-primary" })</p>

<table id ="customers" class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSubscribeToNewsltter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberShipType)
        </th>
        <th>
            Delete
        </th>

    </tr>

    @foreach (var customer in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(customer.Name, "Edit", new { id = customer.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => customer.IsSubscribeToNewsltter)
            </td>
            <td>
                @customer.MemberShipType.Name
            </td>
            <td>
                <button data-customer-id="@customer.Id" class="btn btn-danger js-delete">Delete</button>
            </td>
        </tr>
    }

</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            
            $("#customers").on("click", ".js-delete",function () {
                var button = $(this);
                if (confirm("confirm delete?")) {
                    $.ajax({
                        url: "/api/customer/" + button.attr("data-customer-id"),
                        method: "DELETE",
                        success: function () {
                            button.parents("tr").remove();
                        }
                    });
                    
                }
            });
        });
    </script>
}
